body video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  z-index: -1; }

body .boton-wpp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 25px;
  transition: ease 0,3s;
  margin-bottom: 2rem; }
  body .boton-wpp .hablemos {
    color: white; }
  body .boton-wpp .whatsapp img {
    width: 10rem;
    height: 10rem; }

body .boton-wpp:hover {
  transform: scale(1.1);
  transition: 0.3s; }

.contenedor-menu {
  background: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%); }
  .contenedor-menu .header-astrox {
    margin-left: 3rem;
    margin-right: 3rem; }
    .contenedor-menu .header-astrox .navbar {
      background: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%); }
    .contenedor-menu .header-astrox .logo-astrox {
      width: 10rem;
      height: 10rem; }

.main-index {
  background: linear-gradient(to right, #4e4376, #2b5876);
  margin-top: 5rem; }
  .main-index .contenido-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover; }
    .main-index .contenido-principal h1 {
      color: white;
      text-align: center;
      margin-bottom: 4rem; }
    .main-index .contenido-principal .bloque-imagenes {
      display: flex; }
      .main-index .contenido-principal .bloque-imagenes p {
        flex-direction: column;
        align-self: center;
        color: white;
        width: 15rem;
        margin-top: 1.5rem;
        margin-left: 3rem;
        margin-right: 3rem; }
      .main-index .contenido-principal .bloque-imagenes .mano {
        width: 30rem;
        height: 30rem; }

section {
  background: linear-gradient(to right, #4e4376, #2b5876);
  margin-top: 5rem;
  margin-bottom: 5rem; }

.section-carta {
  display: flex;
  justify-content: space-evenly; }
  .section-carta .section-astrox {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-carta .section-astrox h2 {
      text-align: center;
      color: white;
      margin-top: 3rem; }
    .section-carta .section-astrox .texto-h2 {
      text-align: center;
      color: white;
      margin-bottom: 4rem;
      width: 60rem; }
    .section-carta .section-astrox a {
      text-decoration: none;
      color: orange;
      margin-bottom: 1.2rem; }
    .section-carta .section-astrox .cartanatal-servicios {
      display: flex; }
      .section-carta .section-astrox .cartanatal-servicios .cartanatal-index {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35rem;
        height: 35rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #fffff0;
        margin-bottom: 2rem;
        overflow: hidden; }
        .section-carta .section-astrox .cartanatal-servicios .cartanatal-index img {
          width: 32rem;
          height: 32rem;
          margin-top: 1.5rem;
          transition: 0.5s;
          object-fit: cover; }
        .section-carta .section-astrox .cartanatal-servicios .cartanatal-index img:hover {
          transform: scale(1.1); }
    .section-carta .section-astrox .servicios-texto {
      margin-top: 5rem;
      text-align: center; }
    .section-carta .section-astrox h3 {
      text-align: center;
      font-size: larger;
      color: white;
      margin-bottom: 1.5rem; }
    .section-carta .section-astrox ul {
      margin: 0 0 0 0;
      margin-bottom: 2rem; }
      .section-carta .section-astrox ul li {
        margin-left: 4rem;
        color: white;
        list-style: none;
        margin: 0 0 0 0; }

.section-cursos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .section-cursos .video-youtube iframe {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem; }
  .section-cursos .texto-cursos {
    align-self: center;
    color: white;
    width: 30rem;
    margin-left: 2rem; }
    .section-cursos .texto-cursos .cursos {
      text-align: center;
      margin-bottom: 2rem; }
    .section-cursos .texto-cursos a {
      text-decoration: none;
      color: white; }

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  .carousel .carousel-inner div .conociendo-pluton {
    width: 60rem;
    height: 40rem; }
  .carousel .carousel-inner .carousel-item .conociendo-jupiter {
    width: 60rem;
    height: 40rem; }
  .carousel .carousel-inner .carousel-item .conociendo-luna {
    width: 60rem;
    height: 40rem; }

footer {
  background: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%);
  padding: 0.7rem;
  margin-top: 5rem; }
  footer .footer-contenedor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #1f1f1f; }
    footer .footer-contenedor .derechos a {
      text-decoration: none;
      list-style: none;
      color: #f76917; }
    footer .footer-contenedor .imagenes-footer a {
      list-style: none;
      text-decoration: none; }
      footer .footer-contenedor .imagenes-footer a img {
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.3rem; }

.sobre-mi h1 {
  color: white;
  margin-top: 3rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem; }

.sobre-mi .big3 {
  display: flex;
  margin-bottom: 3rem; }
  .sobre-mi .big3 img {
    width: 8rem; }
  .sobre-mi .big3 p {
    flex-direction: column;
    align-self: center;
    color: white; }

.sobre-mi .historia-mia {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
  grid-template-areas: "h2-historia imagen-eric" "historia imagen-eric" "h3-astro imagen-eric" "historia-astro imagen-eric";
  gap: 1rem; }
  .sobre-mi .historia-mia .h2-historia {
    grid-area: h2-historia; }
  .sobre-mi .historia-mia .historia {
    grid-area: historia; }
  .sobre-mi .historia-mia .h3-astro {
    grid-area: h3-astro; }
  .sobre-mi .historia-mia .historia-astro {
    grid-area: historia-astro; }
  .sobre-mi .historia-mia .imagen-eric {
    grid-area: imagen-eric;
    width: 35rem; }
  .sobre-mi .historia-mia h1, .sobre-mi .historia-mia h2, .sobre-mi .historia-mia h3, .sobre-mi .historia-mia p {
    color: white;
    margin-left: 0.5rem; }

.eric-carta {
  margin-top: 5rem;
  padding-bottom: 5rem; }
  .eric-carta h4 {
    color: white;
    margin-left: 0.5rem;
    margin-bottom: 4rem;
    padding-top: 3rem; }
  .eric-carta .mi-carta {
    display: flex;
    justify-content: space-evenly;
    text-align: center; }
    .eric-carta .mi-carta .imagen-carta {
      width: 45rem;
      height: 45rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #fffff0;
      margin-bottom: 2rem;
      overflow: hidden; }
      .eric-carta .mi-carta .imagen-carta img {
        width: 42rem;
        height: 42rem;
        margin-top: 1.5rem;
        transition: 0.5s;
        object-fit: cover; }
      .eric-carta .mi-carta .imagen-carta img:hover {
        transform: scale(1.1); }
    .eric-carta .mi-carta ul {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-right: 6rem; }
      .eric-carta .mi-carta ul li {
        list-style: none;
        text-decoration: none;
        color: white; }
  .eric-carta .h4-texto-carta {
    color: white; }
  .eric-carta .texto-carta {
    color: white;
    margin-bottom: 5rem;
    margin-left: 0.5rem; }

.servicios-carta {
  display: flex;
  flex-direction: column;
  background: none;
  justify-content: center;
  align-items: center; }
  .servicios-carta h1, .servicios-carta p {
    color: white; }
  .servicios-carta p {
    width: 60rem;
    margin-top: 2rem;
    margin-bottom: 3rem; }

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "carta-online carta-revo" "carta-escrita carta-escrita-revo";
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 5rem;
  background: none; }
  .servicios div {
    background: linear-gradient(to right, #4e4376, #2b5876);
    color: white;
    border-radius: 3rem;
    text-align: center;
    margin: 1rem;
    width: 40rem;
    padding: 5rem;
    transition: transform 0.2s;
    box-shadow: 0px 15px 25px #030126; }
    .servicios div h2 {
      margin-bottom: 3rem; }
    .servicios div a {
      text-decoration: none;
      color: white; }
  .servicios div:hover {
    transform: scale(1.1); }
  .servicios .carta-escrita {
    grid-area: carta-escrita; }
  .servicios .carta-escrita-revo {
    grid-area: carta-escrita-revo; }
  .servicios .carta-online {
    grid-area: carta-online; }
  .servicios .carta-revo {
    grid-area: carta-revo; }

.preguntas-frecuentes {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .preguntas-frecuentes .divisor-preguntas {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .preguntas-frecuentes .divisor-preguntas img {
      width: 14rem; }
    .preguntas-frecuentes .divisor-preguntas h3 {
      margin-bottom: 5rem; }
  .preguntas-frecuentes h3, .preguntas-frecuentes h4, .preguntas-frecuentes p {
    color: white; }
  .preguntas-frecuentes p {
    width: 50rem;
    text-align: center; }

.main-talleres {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  color: white; }
  .main-talleres div {
    transition: transform 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-talleres div .luna-titulo, .main-talleres div .ascendente-titulo, .main-talleres div .marte-titulo, .main-talleres div .venus-titulo {
      flex-direction: column; }
      .main-talleres div .luna-titulo p, .main-talleres div .ascendente-titulo p, .main-talleres div .marte-titulo p, .main-talleres div .venus-titulo p {
        width: 30rem;
        text-align: center; }
  .main-talleres div:hover {
    transform: scale(1.1); }
  .main-talleres h2 {
    margin-bottom: 3rem; }
  .main-talleres .taller-luna {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: linear-gradient(to right, #4e4376, #2b5876);
    width: 80rem;
    text-align: center;
    padding: 15rem; }
  .main-talleres .taller-ascendente {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: linear-gradient(to right, #4e4376, #2b5876);
    width: 80rem;
    text-align: center;
    padding: 15rem; }
  .main-talleres .taller-marte {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: linear-gradient(to right, #4e4376, #2b5876);
    width: 80rem;
    text-align: center;
    padding: 15rem; }
  .main-talleres .taller-venus {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: linear-gradient(to right, #4e4376, #2b5876);
    width: 80rem;
    padding: 15rem; }
    .main-talleres .taller-venus img {
      width: 20rem;
      margin-right: 5rem; }

.main-101 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  grid-template-areas: "h1 h1" "pluton-101 aside" "jupiter-101 aside" "luna-101 aside";
  justify-content: center; }
  .main-101 div {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 4rem; }
    .main-101 div img {
      width: 60rem; }
    .main-101 div p {
      width: 40rem;
      margin-top: 3rem;
      color: white; }
  .main-101 h1 {
    grid-area: h1;
    text-align: center;
    color: white;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    text-align: left; }
  .main-101 h2 {
    color: white;
    margin-bottom: 5rem; }
  .main-101 .aside {
    grid-area: aside;
    text-align: center; }
    .main-101 .aside ul li {
      list-style: none; }
      .main-101 .aside ul li a {
        text-decoration: none;
        color: white; }
  .main-101 .pluton-101 {
    grid-area: pluton-101; }
  .main-101 .jupiter-101 {
    grid-area: jupiter-101; }
  .main-101 .luna-101 {
    grid-area: luna-101; }

@media (max-width: 667px) {
  body .boton-wpp {
    right: 15px;
    padding: 15px;
    transition: ease 0,3s;
    margin-bottom: 1rem; }
    body .boton-wpp .hablemos {
      color: white; }
    body .boton-wpp .whatsapp img {
      width: 5rem;
      height: 5rem; }
  body .main-index .contenido-principal .bloque-imagenes .mano {
    align-self: center;
    width: 15rem;
    height: 15rem; }
  body .section-carta .section-astrox .texto-h2 {
    width: 20rem; }
  body .section-carta .section-astrox .cartanatal-servicios {
    display: flex; }
    body .section-carta .section-astrox .cartanatal-servicios .cartanatal-index {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18rem;
      height: 18rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #fffff0;
      margin-bottom: 2rem;
      overflow: hidden; }
      body .section-carta .section-astrox .cartanatal-servicios .cartanatal-index img {
        width: 15rem;
        height: 15rem;
        margin-top: 1.5rem;
        transition: 0.5s;
        object-fit: cover; }
  body .section-carta .section-astrox .servicios-texto {
    margin-top: 2rem;
    text-align: center; }
  body .section-carta .section-astrox h3 {
    text-align: center;
    font-size: larger;
    color: white;
    margin-bottom: 1.5rem; }
  body .section-carta .section-astrox ul {
    margin-left: 0px;
    padding: 0px;
    margin-bottom: 2rem;
    text-align: center;
    width: 20rem; }
    body .section-carta .section-astrox ul li {
      font-size: small;
      text-align: center;
      color: white;
      list-style: none;
      margin: 0 0 0 0;
      margin-top: 1rem; }
  body .section-cursos {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem; }
    body .section-cursos .texto-cursos {
      align-self: center;
      color: white;
      text-align: center;
      width: 25rem; }
      body .section-cursos .texto-cursos p {
        text-align: center;
        margin-right: 2rem; }
      body .section-cursos .texto-cursos .cursos {
        margin-bottom: 2rem;
        margin-right: 2rem; }
      body .section-cursos .texto-cursos a {
        text-decoration: none;
        color: white; }
    body .section-cursos .video-youtube iframe {
      width: 22rem;
      margin: 2rem; }
  body .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    body .carousel .carousel-inner div .conociendo-pluton {
      width: 25rem;
      height: 15rem; }
    body .carousel .carousel-inner .carousel-item .conociendo-jupiter {
      width: 25rem;
      height: 15rem; }
    body .carousel .carousel-inner .carousel-item .conociendo-luna {
      width: 25rem;
      height: 15rem; }
  footer .footer-contenedor {
    display: none; }
  footer .footer-mobile {
    background: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%);
    padding: 0.5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    color: #1f1f1f; }
    footer .footer-mobile .derechos {
      font-size: smaller; }
      footer .footer-mobile .derechos a {
        text-decoration: none;
        list-style: none;
        color: #f76917; }
    footer .footer-mobile .imagenes-footer a {
      list-style: none;
      text-decoration: none; }
      footer .footer-mobile .imagenes-footer a img {
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.8rem;
        margin-bottom: 2rem; } }

@media (max-width: 768px) {
  .main-index .contenido-principal .bloque-imagenes {
    display: flex;
    flex-direction: column; }
    .main-index .contenido-principal .bloque-imagenes p {
      align-self: center;
      color: white;
      width: 15rem;
      margin-top: 1.5rem;
      margin-left: 3rem;
      margin-right: 3rem;
      text-align: center; }
    .main-index .contenido-principal .bloque-imagenes .mano {
      width: 30rem;
      height: 30rem; }
  .section-carta {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-carta .section-astrox h2 {
      text-align: center;
      color: white;
      margin-top: 3rem; }
    .section-carta .section-astrox a {
      text-decoration: none;
      color: orange;
      margin-bottom: 1.5rem; }
    .section-carta .section-astrox .texto-h2 {
      text-align: center;
      color: white;
      margin-bottom: 4rem;
      width: 40rem; }
    .section-carta .section-astrox .cartanatal-servicios {
      display: flex;
      flex-direction: column;
      align-self: center; }
    .section-carta .section-astrox .servicios-texto {
      margin-top: 2rem; }
      .section-carta .section-astrox .servicios-texto h3 {
        text-align: center;
        color: white;
        margin-top: 2rem; }
      .section-carta .section-astrox .servicios-texto ul {
        align-self: center;
        margin: 0 0 0 0;
        margin-bottom: 2rem; }
        .section-carta .section-astrox .servicios-texto ul li {
          color: white;
          list-style: none;
          text-align: center;
          margin: 0 0 0 0; }
  .section-cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem; }
    .section-cursos .video-youtube iframe {
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-right: 2rem; }
    .section-cursos .texto-cursos {
      align-self: center;
      color: white;
      width: 40rem;
      margin-left: 2rem; }
      .section-cursos .texto-cursos .cursos {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem; }
      .section-cursos .texto-cursos a {
        text-decoration: none;
        color: white; }
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
    .carousel h4 {
      text-align: center;
      color: white;
      margin-top: 2rem;
      margin-bottom: 1rem; }
    .carousel .carousel-inner div .conociendo-pluton {
      width: 40rem;
      height: 25rem; }
    .carousel .carousel-inner .carousel-item .conociendo-jupiter, .carousel .carousel-inner .carousel-item .conociendo-luna {
      width: 40rem;
      height: 25rem; }
  footer .footer-contenedor p {
    width: 10rem; }
  footer .footer-contenedor .imagenes-footer {
    flex-direction: column;
    align-self: center; }
    footer .footer-contenedor .imagenes-footer a {
      list-style: none;
      text-decoration: none; }
      footer .footer-contenedor .imagenes-footer a img {
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.3rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
