body video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  z-index: -1; }

body .boton-wpp {
  text-align: center;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 25px;
  transition: ease 0,3s;
  margin-bottom: 2rem; }
  body .boton-wpp p {
    color: white; }
  body .boton-wpp .whatsapp {
    list-style: none;
    text-decoration: none; }
    body .boton-wpp .whatsapp img {
      width: 10rem;
      height: 10rem; }

body .boton-wpp:hover {
  transform: scale(1.1);
  transition: 0.3s; }

.contenedor-menu {
  background: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%); }
  .contenedor-menu .header-astrox {
    margin-left: 3rem;
    margin-right: 3rem; }
    .contenedor-menu .header-astrox .navbar {
      background: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%); }
    .contenedor-menu .header-astrox .logo-astrox {
      width: 10rem;
      height: 10rem; }

main {
  background: linear-gradient(to right, #4e4376, #2b5876);
  margin-top: 5rem; }
  main .contenido-principal {
    margin-top: 1.5rem;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover; }
    main .contenido-principal h1 {
      color: white;
      text-align: center; }
    main .contenido-principal p {
      color: white;
      text-align: center;
      margin-top: 1.5rem; }

section {
  background: linear-gradient(to right, #4e4376, #2b5876);
  margin-top: 5rem;
  margin-bottom: 5rem; }

section .section-astrox {
  display: flex;
  flex-direction: column;
  align-items: center; }
  section .section-astrox h2 {
    text-align: center;
    color: white;
    margin-top: 3rem; }
  section .section-astrox .texto-h2 {
    text-align: center;
    color: white;
    margin-bottom: 4rem;
    width: 60rem; }
  section .section-astrox .cartanatal-servicios {
    display: flex;
    margin-left: 2rem; }
    section .section-astrox .cartanatal-servicios .servicios-texto {
      margin-top: 8.5rem; }
      section .section-astrox .cartanatal-servicios .servicios-texto a {
        margin-right: 1rem;
        margin-left: 8rem;
        text-decoration: none;
        color: orange; }
      section .section-astrox .cartanatal-servicios .servicios-texto p {
        text-align: center;
        font-size: larger;
        color: white; }
      section .section-astrox .cartanatal-servicios .servicios-texto li {
        margin-left: 4rem;
        color: white; }
    section .section-astrox .cartanatal-servicios .cartanatal-index {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 35rem;
      height: 35rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #fffff0;
      margin-bottom: 2rem;
      margin-right: 5rem;
      overflow: hidden; }
      section .section-astrox .cartanatal-servicios .cartanatal-index img {
        width: 32rem;
        height: 32rem;
        margin-top: 1.5rem;
        transition: 0.5s;
        object-fit: cover; }
      section .section-astrox .cartanatal-servicios .cartanatal-index img:hover {
        transform: scale(1.1); }

section {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  section .video-youtube iframe {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem; }
  section .texto-cursos {
    align-self: center;
    color: white;
    width: 30rem;
    margin-left: 2rem; }
    section .texto-cursos .cursos {
      text-align: center;
      margin-bottom: 2rem; }

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  .carousel .carousel-inner div .conociendo-pluton {
    width: 60rem;
    height: 40rem; }
  .carousel .carousel-inner .carousel-item .conociendo-jupiter {
    width: 60rem;
    height: 40rem; }
  .carousel .carousel-inner .carousel-item .conociendo-luna {
    width: 60rem;
    height: 40rem; }

footer {
  background: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%);
  padding: 0.7rem;
  margin-top: 5rem;
  text-align: center;
  color: #1f1f1f; }
  footer .footer-contenedor {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    footer .footer-contenedor .imagenes-footer a {
      list-style: none;
      text-decoration: none; }
      footer .footer-contenedor .imagenes-footer a img {
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.3rem; }
  footer .derechos a {
    text-decoration: none;
    list-style: none;
    color: #f76917; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
