body{
    background: $color-fondo;
    .barra-separadora{
        img{
            text-align: center;
            width: 100%;
            }
    }
    
    .boton-wpp{
        text-align: center;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 25px;
        transition: ease 0,3s;
        margin-bottom: 2rem;
        p{
            color: white;
        }

         .whatsapp{
            list-style: none;
            text-decoration: none;
            
            img{
                width: 10rem;
                height: 10rem;
               }
            
        }
    
    }
    .boton-wpp:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
}
.contenedor-menu{
    background: $color-header;
    .header-astrox{
        margin-left: 3rem;
        margin-right: 3rem;
            .navbar{
                background: $color-header;
            }
            .logo-astrox{
                width: 10rem;
                height: 10rem;
                }
    }
}

//header del index
main{
    .contenido-principal{
        margin-top: 1.5rem;
        padding: 6rem;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            color:$color-h1;
            text-align: center;
        }
        p{
            color: $color-p;
            text-align: center;
            margin-top: 1.5rem;
        }
    }
}

//section

section{
    .section-astrox{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            text-align: center;
            color: white;
            margin-top: 3rem;
        }
        p{
            text-align: center;
            color: white;
            margin-bottom: 2rem;
        }
        .cartanatal-servicios{
            display: flex;
            .servicios-texto{
                margin-top: 8.5rem;
                a{
                    margin-right: 1rem;
                    margin-left: 8rem;
                    text-decoration: none;
                    color: orange;
                }
                p{
                    text-align: center;
                    font-size: larger;

                }
                li{
                    margin-left: 4rem;
                    color: white;
                }
            }
            .cartanatal-index{
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 35rem;
               height: 35rem;
               -moz-border-radius: 50%;
               -webkit-border-radius: 50%;
               border-radius: 50%;
               background: #fffff0;
               margin-bottom: 2rem;
               margin-right: 5rem;
               overflow: hidden;
                  img{
                      width: 32rem;
                      height: 32rem;
                      margin-top: 1.5rem;
                      transition: 0.5s;
                      object-fit: cover;
                  }
                  img:hover{
                      transform:scale(1.1)
                  }
               }
        }
        
    }
    
    
}

// tercera section
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .carousel-inner{
        div{
            .conociendo-pluton{
                width: 60rem;
                height: 40rem;
            }
              
        }
        .carousel-item{
            .conociendo-jupiter{
                width: 60rem;
                height: 40rem;
                }
                .conociendo-luna{
                width: 60rem;
                height: 40rem;
                }
            }
        
            
        }
    }
    




//footer del index
footer{
    background: $color-footer;
    padding: 0.7rem;
    .footer-contenedor{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .imagenes-footer{
            a{
                list-style: none;
                text-decoration: none;
                
                img{
                    width: 2.2rem;
                    height: 2.2rem;
                    margin-right: 0.3rem;
                                      
                    
                }
                
            }

        }

    }
    text-align: center;
    color: rgb(31, 31, 31);
    
    .derechos{

        a{
            text-decoration: none;
            list-style: none;
            color: rgb(247, 105, 23);
        }
            
        
    }
}
