.main-talleres{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    color: white;
    div{
        transition: transform 0.5s;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div:hover{
        transform: scale(1.1); 
    }
    .taller-luna{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: $color-div;
        width: 80rem;
        text-align: center;
        padding: 15rem;
        .h2-luna{
        }
        .p-luna{
            width: 20rem;
        }
    }
    .taller-ascendente{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: $color-div;
        width: 80rem;
        text-align: center;
        padding: 15rem;
        .h2-ascendente{
           text-align: left;
        }
        p{
            width: 20rem;
        }
    }
    .taller-marte{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: $color-div;
        width: 80rem;
        text-align: center;
        padding: 15rem;
        .h2-marte{
           text-align: left;
        }
        p{
            width: 20rem;
        }
    }
    .taller-venus{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: $color-div;
        width: 80rem;
        text-align: center;
        padding: 15rem;
        .venus-titulo{
            flex-direction: column;
            img{
                width: 20rem;
            }
            .h2-venus{
            }
        }
        p{
            width: 20rem;
            margin-left: 5rem;
        }
    }
}