.main-talleres{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    color: white;
    div{
        transition: transform 0.5s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .luna-titulo, .ascendente-titulo, .marte-titulo, .venus-titulo{
            flex-direction: column;
            p{
                width: 30rem;
                text-align: center;
            }
        }
    }
    div:hover{
        transform: scale(1.1); 
    }
    h2{
        margin-bottom: 3rem;

    }
    .taller-luna{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: $color-div;
        width: 80rem;
        text-align: center;
        padding: 15rem;
    }
    .taller-ascendente{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: $color-div;
        width: 80rem;
        text-align: center;
        padding: 15rem;
    }
    .taller-marte{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: $color-div;
        width: 80rem;
        text-align: center;
        padding: 15rem;
    }
    .taller-venus{
        margin-top: 3rem;
        margin-bottom: 3rem;
        background: $color-div;
        width: 80rem;
        padding: 15rem;
        img{
            width: 20rem;
            margin-right: 5rem;
        } 
    }
}